Repository kiplangatkorir/GraphFusionAI, changes with the owners that .github/CODEOWNERS names for each.
All owners: @core-team-lead, @engine-team-lead, @storage-team-lead, @tech-writers

.github/CODEOWNERS:

# Core engine
/src/graphfusion/core/ @core-team-lead

# Engine components
/src/graphfusion/engine/ @engine-team-lead

# Storage systems
/src/graphfusion/storage/ @storage-team-lead

# Documentation
/docs/ @tech-writers

Updated
  docs/guides/getting_started.md
Owners: @tech-writers

New
  docs/guides/getting_started.md
Owners: @tech-writers

New
  docs/guides/best_practices.md
Owners: @tech-writers

New
  CONTRIBUTING.md
Owners: none

New
  CONTRIBUTING.md
Owners: none

New
  README.md
Owners: none

New
  README.md
Owners: none

New
  README.md
Owners: none

Deleted
  examples/advanced_features.py
  examples/basic_example.py
  examples/benchmarks.py
  src/graphfusion/__init__.py
  src/graphfusion/core/__init__.py
  src/graphfusion/core/confidence.py
  src/graphfusion/core/graph.py
  src/graphfusion/core/memory.py
  src/graphfusion/engine/__init__.py
  src/graphfusion/engine/optimizer.py
  src/graphfusion/engine/processor.py
  src/graphfusion/engine/validator.py
  src/graphfusion/storage/__init__.py
  src/graphfusion/storage/cache.py
  src/graphfusion/storage/persistence.py
  src/graphfusion/utilis/__init__.py
  src/graphfusion/utilis/logging.py
  src/graphfusion/utilis/metrics.py
Owners: @core-team-lead, @engine-team-lead, @storage-team-lead
